$primary-color: #D2E0FB;
$secondary-color: #F9F3CC;
$grayed-chip-color: #eeeeee;
$text-color: #45474B;
$background-color: #f6f6f6;
$root-background: #ffffff;
$link-color: #4b51bf;

$dark-primary-color: #4c6e70;
$dark-secondary-color: #8C6A5D;
$dark-grayed-chip-color: #526D82;
$dark-text-color: #ffffff;
$dark-background-color: #31363F;
$dark-root-background: #222831;
$dark-link-color: #ffffff;

$unit-1: 1px;
$unit-2: 2px;
$unit-8: 8px;
$unit-16: 16px;
$unit-32: 32px;
$unit-64: 64px;
$unit-96: 96px;