$primary-color: #D2E0FB;
$secondary-color: #F9F3CC;
$text-color: #45474B;
$background-color: #f6f6f6;

$static-white: #fff;
$static-green:#D7E5CA;
$static-blue: #8EACCD;

$unit-1: 1px;
$unit-2: 2px;
$unit-8: 8px;
$unit-16: 16px;
$unit-32: 32px;
$unit-64: 64px;
$unit-96: 96px;