@import './styles/variables.scss';

html, #root {
  flex: 1;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

a {
  font-size: 14px;
  font-weight: 500;
  color: $link-color;
  text-decoration: inherit;

  &:hover {
    color: $link-color;
  }
}

header {
  margin: $unit-32;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - $unit-64);
}

.core {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    color: $text-color;
  }

  &.gradients {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    min-height: 320px;
  }

  &.summary {
    z-index: 1;
    background-color: $root-background;
    padding: $unit-32;
    max-width: 70%;
    border-radius: $unit-16;

    transition: box-shadow 0.4s;

    > span {
      text-align: justify;
    }

    &:hover {
      box-shadow: 0 0 15px 0 $root-background;
    }
  }
}

.left-container {
  position: absolute;
  z-index: 1;
  left: $unit-64;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .name {
    display: flex;
    flex-direction: column;

    > span {
      line-height: 1;
      font-size: 2.5rem;
    }
  
    :last-child {
      font-weight: bold;
    }
  }

  .title {
    margin-top: $unit-16;
  }
}

.right-container {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right: $unit-64;

  > span {
    font-size: 0.9rem;
  }
}

.image {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  max-width: 270px;
  max-height: 270px;
  min-width: 270px;
  min-height: 270px;
  border-radius: 50%;
  box-shadow: 0 0 15px 5px #a6a6a6;
  overflow: hidden;

  img {
    max-width: 270px;
    min-width: 270px;
    min-height: 270px;
    object-fit:fill;
    object-position: 25% 25%;

    transition: all 0.4s;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.heading {
  color: $text-color;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: $unit-16;
}

.technology-list {
  max-width: 70%;
  background-color: $root-background;
  padding: $unit-32;
  border-radius: $unit-16;

  .technology {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: $unit-16;

    .category {
      font-weight: 600;
    }

    .technologies {
      padding: 0px $unit-16;
      border-radius: $unit-8;
      transition: margin-left 0.4s;
    }

    .category:hover + .technologies {
      margin-left: -$unit-16;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $unit-96;
}

.last-words {
  margin: $unit-16 $unit-32;
  text-align: center;
}

.actions {
  > span {
    margin: 0px $unit-16;
  }
}

.updated {
  margin-top: $unit-32;
  font-size: 0.8rem;
}

@media screen and (max-width: 860px) {
  .right-container {
    right: $unit-16;
    bottom: $unit-16;

    > span {
      background-color: $root-background;
      border-radius: $unit-8;
      padding: $unit-8;
      margin-bottom: $unit-2;
    }
  }

  .left-container {
    left: $unit-16;
    top: $unit-16;

    .name,
    .title {
      background-color: $root-background;
      border-radius: $unit-8;
      padding: $unit-8;
    }
  }
}

@media screen and (max-width: 600px) {
  .skills {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  .core {
    .gradients {
      flex-direction: column;
    }
  }

  .technology-list {
    .technology {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

      .category:hover + .technologies {
        margin-left: 0px;
      }
    }
  }
}

@media print {
  header {
    display: none;
  }

  footer {
    >:not(:last-child) {
      display: none;
    }
  }

  .core {
    box-shadow: none;

    .summary {
      max-width: 95%;
      box-shadow: none;
    }
  }

  .left-container {
    top: $unit-64;
    left: $unit-32;
  }


  .right-container {
    bottom: $unit-64;
    right: $unit-32;
  }

  .technology-list {
    max-width: 95%;
    box-shadow: none;
  }

  .heading {
    margin-bottom: 0px;
    margin-top: $unit-32;

    &.technologies {
      page-break-before: always;
    }
  }

  .image {
    box-shadow: none;
  }
}


@media (prefers-color-scheme: light) {
  :root, body {
    background-color: $root-background;
  }
}

@media (prefers-color-scheme: dark) {
  :root, body {
    background-color: $dark-root-background;
  }

  .core {
    background-color: $dark-background-color;

    span {
      color: $dark-text-color;
    }

    .summary {
      background-color: $dark-root-background;

      &:hover {
        box-shadow: 0 0 15px 5px $dark-root-background;
      }
    }

    &.gradients > .gradient {
      &.primary {
        background: radial-gradient(circle, $dark-primary-color, $dark-primary-color);
      }
      &.secondary {
        background: radial-gradient(circle, $dark-secondary-color, $dark-secondary-color);
      }
    }
  }

  .technology-list {
    background-color: $dark-root-background;
  }

  .skills {
    .chip {
      background-color: $dark-secondary-color;

      .line {
        background-color: $dark-text-color;
      }

      &.grayed {
        background-color: $dark-grayed-chip-color;
      }
    }
  }

  span,
  .heading {
    color: $dark-text-color;
  }

  a {
    color: $dark-link-color;

    &:hover {
      text-decoration: underline;
      color: $dark-link-color;
    }
  }

  @media screen and (max-width: 860px) {
    .right-container {
      > span {
        background-color: $dark-root-background;
      }
    }
  
    .left-container {
      .name,
      .title {
        background-color: $dark-root-background;
      }
    }
  }

  .button {
    color: $dark-text-color;
  
    &.bordered {
      background-color: $dark-root-background;
      border-color: $dark-primary-color;
    }
  
    &.filled {
      background-color: $dark-primary-color;
    }
  }
}